.background1{

    background-image: url('https://www.wallpaperflare.com/static/1001/896/917/car-back-view-street-evening-wallpaper.jpg');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
 
}




